.App {
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  color: #585857;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.test-app {
  width: 100%;
}

.test-app .row {
  float: right;
  -overflow: hidden;
  margin: 5px 10px;
  margin-bottom: 16px;
   /*clear: both;*/
  box-sizing: border-box;
}

.test-app .col {
  float: right;
}

.test-app .col.col1 {
  width: 100px;
}

.test-app .col.col2 {
  width: 150px;
}

.test-app .col.col3 {
  width: 200px;
}

.dropdownCls{
  width: inherit;
}
.textSelect {
  border: 0px;
  width: inherit;
  height: 37px;
  margin: 0px;
  line-height: 37px;
  position: relative;
  box-sizing: border-box;
}
.textSelect > input {
  position: absolute;
  right: 0px;
  float: right;
  padding: 0px 5px 0px 0px;
  border: 1px solid #aba899;
  width: inherit;
  height: 35px;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFxJREFUeNpivHD26Jy7t68k/2f4zwACjEAIYf1nUFbV6WDSN7JKATLmMkABROF/BhVV3VYDI+tKJpAgSJGKqs4CBqgZQA2tQLEaiI7//+EYaN3882ePtCCLAQQYAML4LgPQ+wrJAAAAAElFTkSuQmCC") no-repeat 10px center;
  -webkit-background-size: 10px 5px;
     -moz-background-size: 10px 5px;
      -ms-background-size: 10px 5px;
       -o-background-size: 10px 5px;
          background-size: 10px 5px;
          
  -webkit-background-position-x: 3%;
     -moz-background-position-x: 3%;
      -ms-background-position-x: 3%;
       -o-background-position-x: 3%;
          background-position-x: 3%;
  line-height: 35px;
  font-family: Arial;
  font-size: 12px;
  color: #585857;
  cursor: pointer;
  z-index: 2;
}
.textSelect:hover, .textSelect > input:hover{
  background-color: #f2f2f2;
} 
.activeInp {
  background: #f2f2f2 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGdJREFUeNo0TNsJgDAMvFi38Ff/3ErRLQqCMwgO5KcgWL9aRynxoniBXLhH5Ng3ByArlIRJIBWgPSBU1JVcmaKF/B0vTxN101p4pJ4LfKAZXtOQYuhIi90WmFM8vb20+cHCQFofAQYAdqUh9fxsLgQAAAAASUVORK5CYII=") no-repeat 5px center !important;
  -webkit-background-position-x: 2.5% !important;
     -moz-background-position-x: 2.5% !important;
      -ms-background-position-x: 2.5% !important;
       -o-background-position-x: 2.5% !important;
          background-position-x: 2.5% !important;
  -webkit-background-size: 10px 4px !important;
     -moz-background-size: 10px 4px !important;
      -ms-background-size: 10px 4px !important;
       -o-background-size: 10px 4px !important;
          background-size: 10px 4px !important;
}
/* Styles that create a select list with an arrow at the top */
.listSelect {
  position: relative;
  margin: 11px 0px;
  padding: 0px;
  width: calc(100% + 5px);
  height: 300px;
  border: 1px solid #aba899;
  display: none;
  text-align: right;
  z-index: 1000;
}
/* The top arrow of the select list */
.listSelect:after, .listSelect:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.listSelect:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 6px;
	margin-left: -6px;
}
.listSelect:before {
	border-color: rgba(171, 168, 153, 0);
	border-bottom-color: #aba899;
	border-width: 7px;
	margin-left: -7px;
}
.listSelect > div {
  margin: 0px;
  padding: 2px 0px 0px 0px;
  width: 100%;
  height: 290px;
  overflow: hidden;
  overflow-y:scroll;
}
ul.select {
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 1001;
}
ul.select > li {
  list-style: none;
  font-family: Arial;
  font-size: 12px;
  line-height:  22px;
  color: #585857;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  cursor: pointer;
  background-color: #ffffff;
  width: 100%;
}
ul.select > li:hover {
  background-color: #f2f2f2;
}
.actionSelect {
  background-color: #f2f2f2 !important;
}
.active {
  display: block !important
}